body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4a65c8;
    margin: 0;
}
.header {
    background-color: #ADBBEA;
    display: flex;
    justify-content: space-around;
    padding: 1rem 1.5rem;
    align-items: center;
    margin: 0;
    box-shadow: 0px 2px 5px white;
}
.header .text {
    color: blue;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}
.header ul {
    width: 180px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: navy;
    font-weight: bold;
}
.container {
    height: 564.9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .center {
    height: 350px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4c72fd;
    padding: 0 2rem;
}
.container .center .choose {
    height: 175px;
    width: 550px;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.2rem;
}
.container .center .choose .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .center .choose .text {
    color: rgba(255, 212, 212, 0.913);
    font-weight: 500;
    font-size: 25px;
}
.container .center .choose .radio {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.913);
    font-weight: bold;
}
input[type="radio"] {
    accent-color: red;
}
#confirm {
    width: 100px;
    font-size: 22px;
    font-weight: 600;
    padding: 0;
    border: solid;
    border-radius: 12px;
    border-color: navy;
    background-color: rgb(142, 202, 202);
    color: rgb(51, 32, 32);
    margin-left: 230px;
    margin-top: 0;
    cursor:pointer;
}
.container .center .result {
    height: 175px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}
.container .center .result .text {
    color: rgb(14, 8, 30);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.container .center .result .score {
    width: 550px;
    height: 80px;
    border: 2px solid black;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.container .center .result .score .you {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 5px solid black;
    width: 275px;
    gap: 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.container .center .result .score .computer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 275px;
    gap: 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.footer {
    height: 85px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 700;
}
.footer a {
    text-decoration: none;
    color: white;
    margin: 0;
}
